<a href="https://colab.research.google.com/github/kangjunseo/Bioinformatics/blob/main/dacon_%EC%9C%A0%EC%A0%84%EC%B2%B4_%EC%A0%95%EB%B3%B4_%ED%92%88%EC%A2%85_%EB%B6%84%EB%A5%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
!pip install sklearn
!pip install /content/gdrive/MyDrive/dacon_submit_api-0.0.4-py3-none-any.whl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.8/dist-packages (0.0.post1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Processing ./gdrive/MyDrive/dacon_submit_api-0.0.4-py3-none-any.whl
Installing collected packages: dacon-submit-api
Successfully installed dacon-submit-api-0.0.4

In [ ]:
import pandas as pd
from dacon_submit_api import dacon_submit_api

In [ ]:
dir_path = "/content/gdrive/MyDrive/open/"
test_df = pd.read_csv(dir_path + "test.csv")
train_df = pd.read_csv(dir_path + "train.csv")

In [ ]:
train_df

,id,father,mother,gender,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,...,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,0,0,0,2,G G,A G,A A,G A,C A,...,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,0,0,0,2,A G,A G,C A,A A,A A,...,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,0,0,0,2,G G,G G,A A,G A,C C,...,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,0,0,0,2,G G,G G,C C,A A,C C,...,A A,A A,A A,G G,A A,A A,A G,A A,G A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,TRAIN_257,0,0,0,2,A G,A G,A A,G A,C C,...,A A,G A,A A,G G,A G,G A,A A,A A,A A,B
258,TRAIN_258,0,0,0,2,G G,A A,C A,A A,A A,...,G A,G A,A A,A G,A G,A A,A G,A A,G A,C
259,TRAIN_259,0,0,0,1,A G,G G,A A,G A,A A,...,G G,G A,G A,A A,G G,G G,G G,C A,G G,A
260,TRAIN_260,0,0,0,1,A A,G G,A A,G A,A A,...,G G,A A,G A,A G,A G,G A,G G,C A,G G,A
261,TRAIN_261,0,0,0,2,G G,A G,C A,G G,C C,...,A A,A A,A A,G G,A A,A A,G G,A A,G A,B

In [ ]:
train_df.drop(labels=['father','mother','gender'], axis=1, inplace=True)
train_df.head()

,id,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15,class
0,TRAIN_000,2,G G,A G,A A,G A,C A,A A,A A,G G,A A,G G,A G,A A,A A,A A,A A,B
1,TRAIN_001,2,A G,A G,C A,A A,A A,A G,A A,G A,A A,A G,A A,G A,G G,A A,A A,C
2,TRAIN_002,2,G G,G G,A A,G A,C C,G G,A A,G A,G A,A G,A A,A A,A A,A A,A A,B
3,TRAIN_003,1,A A,G G,A A,G A,A A,G G,G G,A A,G G,A G,G G,G G,G G,A A,G G,A
4,TRAIN_004,2,G G,G G,C C,A A,C C,A A,A A,A A,A A,G G,A A,A A,A G,A A,G A,C

In [ ]:
from sklearn import svm
clf = svm.SVC(C=10, decision_function_shape='ovo')
embed = {"A A":0, "A G":1, "A C":2,
         "G A":3, "G G":4, "G C":5,
         "C A":6, "C G":7, "C C":8}

In [ ]:
X = train_df.drop(labels=['id', 'class'], axis=1)
X.replace(embed, inplace=True)
Y = train_df['class']
Y.replace({'A':0, 'B':2, 'C':1}, inplace=True)
clf.fit(X, Y)

SVC(C=10, decision_function_shape='ovo')

In [ ]:
X_test = test_df.drop(labels=['id','father','mother','gender'], axis=1)
X_test.replace(embed, inplace=True)
X_test.head()

,trait,SNP_01,SNP_02,SNP_03,SNP_04,SNP_05,SNP_06,SNP_07,SNP_08,SNP_09,SNP_10,SNP_11,SNP_12,SNP_13,SNP_14,SNP_15
0,1,1,4,0,3,0,1,4,3,3,1,1,3,4,6,3
1,2,4,1,8,4,8,0,0,0,0,4,1,0,0,0,0
2,2,4,1,0,0,6,1,0,0,0,1,0,3,4,0,4
3,2,4,1,6,0,8,0,0,0,0,4,0,3,1,0,0
4,1,0,4,0,4,0,4,4,0,4,1,4,3,4,0,4

In [ ]:
Y_test = clf.predict(X_test)

In [ ]:
len(Y_test)

175

In [ ]:
y = pd.Series(Y_test).replace({0:'A', 2:'B', 1:'C'})
y.name = 'class'
ans = pd.concat([test_df['id'], y], axis=1)
ans

           id class
0    TEST_000     A
1    TEST_001     B
2    TEST_002     C
3    TEST_003     C
4    TEST_004     A
..        ...   ...
170  TEST_170     B
171  TEST_171     C
172  TEST_172     C
173  TEST_173     B
174  TEST_174     B

[175 rows x 2 columns]

In [ ]:
print(list(ans['class']).count('A'))
print(list(ans['class']).count('B'))
print(list(ans['class']).count('C'))

50
83
42

In [ ]:
ans.to_csv('/content/out.csv', index=False)

In [ ]:
result = dacon_submit_api.post_submission_file(
'/content/out.csv', 
'612197dd8e36ac24c22da5f0ee5c9eed614b1ebf2f12b9abb8df1e9f845171f9', 
'236035', 
'junskang', 
'API TEST')

{'isSubmitted': True, 'detail': 'Success'}